<a href="https://colab.research.google.com/github/risminfathima/ict.assignment/blob/main/assignment01_rismin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1**

In [5]:
a=float(input("Enter the price of item 1 "))
b=int(input("Enter the quantity of item 1: "))
c=float(input("Enter the price of item 2: "))
d=int(input("Enter the quantity of item 2: "))
cost1=a*b
cost2=c*d
total=cost1+cost2
print("total bill is",total)

Enter the price of item 1 45
Enter the quantity of item 1: 2
Enter the price of item 2: 32
Enter the quantity of item 2: 3
total bill is 186.0

**2**

In [ ]:
C=int(input("Enter the temperture in celcius: "))
fahrenheit = (C*9/5)+32
print("temparature in fahrenheit",fahrenheit)

Enter the temperture in celcius: 30
temparature in fahrenheit 86.0

**3**

In [ ]:
a=int(input("Enter the basic salary: "))
HRA = 20/100
DA =10/100
total = a
print("net salary",total)

Enter the basic salary: 20000
net salary 1000000.0

**4**

In [3]:
print("interest calculator")
p = int(input("enter principal:"))
r = float(input("enter rate of interest"))
t = int(input("time(in years)"))
si = (p*r*t)/100
print(si)

interest calculator
enter principal:50
enter rate of interest10
time(in years)40
200.0

**5**

In [4]:
print("Time conversion")
minutes = float(input("Enter total input:"))
hours = minutes/60
print(hours)

Time conversion
Enter total input:60
1.0

**6**

In [7]:
print("calculate the body mass index")
w = float(input("Enter the weight:"))
h = float(input("Enter the hieght:"))
BMI = w/(h*h)
print("BMI",BMI)

calculate the body mass index
Enter the weight:40
Enter the hieght:10
BMI 0.4

**7**

In [10]:
print("discount calculation")
op = int(input("enter the orginal price"))
dp = op-(10/100)
print("discount price",dp)

discount calculation
enter the orginal price1300
discount price 1299.9

**8**

In [20]:
print("area of triangle")
a = float(input("enter the side a:"))
b = float(input("enter the side b:"))
c = float(input("enter the side c:"))
s = a+b+c/2
area = (s*(s-a)*(s-b)*(s-c))**(2)
print("area of triangle",area)

area of triangle
enter the side a:2
enter the side b:4
enter the side c:7
area of triangle 959787.59765625

**9**

In [21]:
print("Paint Cost Estimator")
l = float(input("Enter length of the wall:"))
b = float(input("Enter breadth of the wall:"))
area = l * b
area_w = 2*(1.5 * 1.2)
paint = area - area_w
print(paint,"sq.m")
cost = paint * 25
print(cost)

Paint Cost Estimator
Enter length of the wall:10
Enter breadth of the wall:5
46.4 sq.m
1160.0

**10**

In [22]:
units = float(input("Enter number of units consumed: "))
rate_per_unit = 5.2
fixed_charge = 100
bill = (units*rate_per_unit)+fixed_charge
print(f"Electricity Bill: ₹{bill:.1f}")

Enter number of units consumed: 10
Electricity Bill: ₹152.0