<a href="https://colab.research.google.com/github/risminfathima/ict.assignment/blob/main/assignment03_rismin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
z = int(input("Enter third number: "))
print
def biggest(x,y,z):
 print(x,y,z)
 if (x>y) and (x>z):
  lar = x
 elif(y>x) and (y>z):
   lar = y
 elif(z>x) and (z>y):
    lar = z
 return(lar)

Enter first number: 5
Enter second number: 6
Enter third number: 3

In [3]:
def sum_list(numbers):
    total = 0
    for x in numbers:
        total += x
    return total

sample_list = [5,8,9,10,11,20]
expected_output = sum_list(sample_list)

print(f"Sample List: {sample_list}")
print(f"Expected Output: {expected_output}")

Sample List: [5, 8, 9, 10, 11, 20]
Expected Output: 63

In [5]:
my_list = [10, 20, 30, 40, 50]
print(f"Original list: {my_list}")

# Get the number to be inserted from the user
try:
    number_to_insert = int(input("Enter the number to insert: "))
except ValueError:
    print("Invalid input. Please enter an integer for the number.")
    number_to_insert = None

# Get the position from the user
try:
    position_to_insert = int(input("Enter the position (0-indexed) to insert the number: "))
except ValueError:
    print("Invalid input. Please enter an integer for the position.")
    position_to_insert = None

# Insert the number if inputs are valid
if number_to_insert is not None and position_to_insert is not None:
    # Ensure position is within valid range
    if 0 <= position_to_insert <= len(my_list):
        my_list.insert(position_to_insert, number_to_insert)
        print(f"List after insertion: {my_list}")
    else:
        print(f"Invalid position. Please enter a position between 0 and {len(my_list)}.")

Original list: [10, 20, 30, 40, 50]
Enter the number to insert: 10
Enter the position (0-indexed) to insert the number: 3
List after insertion: [10, 20, 30, 10, 40, 50]

In [6]:
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}
print(f"Original dictionary: {sample_dict}")

# Get the value associated with the 'city' key
city_value = sample_dict.pop('city')

# Add a new key 'location' with the retrieved value
sample_dict['location'] = city_value

print(f"Dictionary after renaming 'city' to 'location': {sample_dict}")

Original dictionary: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}
Dictionary after renaming 'city' to 'location': {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [7]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
print(f"Original dictionary: {sample_dict}")

# Change Brad's salary
sample_dict['emp3']['salary'] = 8500

print(f"Dictionary after changing Brad's salary: {sample_dict}")

Original dictionary: {'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}
Dictionary after changing Brad's salary: {'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [8]:
tuple1 = (11, 22, 33, 44, 55, 66)
print(f"Original tuple: {tuple1}")

# Elements 44 and 55 are at index 3 and 4 respectively.
# We can use slicing to extract them.
new_tuple = tuple1[3:5]

print(f"New tuple with elements 44 and 55: {new_tuple}")

Original tuple: (11, 22, 33, 44, 55, 66)
New tuple with elements 44 and 55: (44, 55)

In [9]:
tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)
print(f"Original tuple: {tuple1}")

# Count the occurrences of 50
count_50 = tuple1.count(50)

print(f"The number of occurrences of 50 in the tuple is: {count_50}")

Original tuple: (50, 10, 60, 70, 50, 83, 567, 50, 81)
The number of occurrences of 50 in the tuple is: 3